#hedaer{
   background-color: #fff;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
   position: relative;
   .mobile_hambarger_btn{
      display: none;
      button{
         border: none;
         background-color: transparent;
         padding: 20px 0px;
         font-size: 20px;
      }
   }
   .header-menu-area{
      >ul{
         >li{
            display: inline-block;
            margin-left: 10px;
            position: relative;
            &:hover{
               .dropdoown_area{
                  opacity: 1;
                  visibility: visible;
                  transition: 0.3s;
               }
               >a{
                  color: $mainColor;
                  i{
                     transform: rotate(180deg)
                  }
               }
            }
            >a{
               padding: 0px 20px;
               font-size: 16px;
               font-weight: 500;
               height: 75px;
               display: flex;
               align-items: center;
               i{
                  margin-left: 10px;
                  transition: 0.4s;
               }
            }
            &:last-child{
               margin-left: 35px;
            }
         }
         .btn-primary{
            height: 50px !important;
         }
         .active{
            a{
               color: $mainColor;
            }
         }
      }
   }
}


@media (min-width: 1200px) and (max-width: 1499px) {
   .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1150px;
   }
}

@media (min-width: 1500px) and (max-width: 1709px) {}

@media (min-width: 1200px) and (max-width: 1300px) {}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 576px) and (max-width: 767px) {
   .header-menu-area{
      display: none;
   }
   #footer .footer_item_wrapper {
      flex-wrap: wrap;
   }
   .mobile_hambarger_btn{
      display: block !important;
   }
}

@media (max-width: 575px) {
   .header-menu-area{
      display: none;
   }
   #footer .footer_item_wrapper {
      flex-wrap: wrap;
   }
   .mobile_hambarger_btn{
      display: block !important;
   }
}