#request_demo_area{
   min-height: 100vh;
   background-color: #fff;
   overflow-x: hidden;
   .container-fluid{
      padding: 0px !important;
   }
   .left_form_box{
      padding: 70px 100px;
      .form_area{
         margin-top: 40px;
         box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
         padding: 50px 40px;
         .input_box{
            margin-bottom: 30px;
            label{
               display: block;
               font-weight: 500;
               font-size: 18px;
               color: #555555;
               margin-bottom: 6px;
            }
            input{
               width: 100%;
               border: none;
               border-bottom: 1px solid #AAAAAA;
               font-size: 13px;
               padding: 10px 0px;
            }
         }
         .form_action{
            button{
               height: 59px;
               width: 175px;
               font-size: 16px;
               padding: 0px;
            }
         }
      }
   }
   .right_info_box{
      height: 100%;
      background-color: $mainColor;
      min-height: 100vh;
      padding: 150px 90px;
      h3{
         color: #fff;
         font-weight: 700;
         font-size: 28px;
         line-height: 38px;
      }
      ul{
         margin-top: 30px;
         li{
            color: #fff;
            font-size: 20px;
            margin-bottom: 20px;
            svg{
               margin-right: 7px;
            }
         }
      }
   }
}


/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1399px) {
   #request_demo_area .left_form_box {
      padding: 70px 37px;
   }
}

@media (min-width: 1400px) and (max-width: 1780px) {
   #request_demo_area .left_form_box {
      padding: 70px 27px;
   }
}

@media (min-width: 1500px) and (max-width: 1709px) {}

@media (min-width: 1200px) and (max-width: 1300px) {}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
   #request_demo_area .left_form_box {
      padding: 70px 27px;
   }
   #request_demo_area .left_form_box h3{
      font-size: 30px;
   }
   #request_demo_area .left_form_box .form_area {
      padding: 21px 19px;
   }
   #request_demo_area .right_info_box {
      padding: 150px 42px;
   }
   #request_demo_area .left_form_box .form_area .form_action button{
      width: 100%;
      height: 50px;
   }
}


@media (min-width: 768px) and (max-width: 991px) {
   #request_demo_area .left_form_box {
      padding: 70px 15px;
   }
   #request_demo_area .left_form_box h3{
      font-size: 24px;
   }
   #request_demo_area .left_form_box .form_area {
      padding: 21px 19px;
   }
   #request_demo_area .right_info_box {
      padding: 150px 42px;
   }
   #request_demo_area .left_form_box .form_area .form_action button{
      width: 100%;
      height: 50px;
   }
   #request_demo_area .right_info_box h3 {
      font-size: 19px;
      line-height: 29px;
   }
}


@media (max-width: 767px) {}


@media only screen and (min-width: 576px) and (max-width: 767px) {
   #request_demo_area .left_form_box {
      padding: 30px 40px;
   }
   #request_demo_area .left_form_box h3{
      font-size: 24px;
   }
   #request_demo_area .left_form_box .form_area {
      padding: 21px 19px;
   }
   #request_demo_area .right_info_box {
      padding: 150px 42px;
   }
   #request_demo_area .left_form_box .form_area .form_action button{
      width: 100%;
      height: 50px;
   }
   #request_demo_area .right_info_box h3 {
      font-size: 19px;
      line-height: 29px;
   }
   #request_demo_area .right_info_box{
      min-height: auto;
      padding: 50px 42px;
   }
   .request_demo_row{
      flex-direction: column-reverse;
   }
}


@media (max-width: 575px) {
   #request_demo_area .left_form_box {
      padding: 30px 10px;
   }
   #request_demo_area .left_form_box h3{
      font-size: 24px;
      text-align: center;
   }
   #request_demo_area .left_form_box .form_area {
      padding: 21px 19px;
   }
   #request_demo_area .right_info_box {
      padding: 150px 42px;
   }
   #request_demo_area .left_form_box .form_area .form_action button{
      width: 100%;
      height: 50px;
   }
   #request_demo_area .right_info_box h3 {
      font-size: 19px;
      line-height: 29px;
   }
   #request_demo_area .right_info_box{
      min-height: auto;
      padding: 30px 22px;
   }
   #request_demo_area .right_info_box ul li{
      font-size: 15px;
   }
}